<button
    class="btn btn-card disabled"
    data-added-text="{{ i18n.selled_title[page.lang] }}"
    aria-label="{{ i18n.selled_title[page.lang] }}" disabled>
    {{ i18n.selled_title[page.lang] }}
</button>
