<footer class="footer-section" role="contentinfo">
    <ul class="footer-list">
        <li>
            <a
                href="{{ '/privacy' | customLocaleUrl(page.lang) | url }}"
                class="footer-link"
                aria-label="{{ i18n_aria.aria.privacy[page.lang] }}"
                >{{ i18n.privacy_nav[page.lang] }}</a
            >
        </li>
        <li>
            <a
                href="{{ '/legal' | customLocaleUrl(page.lang) | url }}"
                class="footer-link"
                aria-label="{{ i18n_aria.aria.legal[page.lang] }}"
                >{{ i18n.legal_nav[page.lang] }}</a
            >
        </li>
    </ul>
    <address itemscope itemtype="https://schema.org/PostalAddress">
        <span itemprop="name">{{ i18n.address_title[page.lang] }}</span>
        <a href="https://www.openstreetmap.org/node/3514787034" aria-label="{{ i18n_aria.aria.view_address[page.lang] }}" target="_blank" rel="noopener noreferrer">
            <span itemprop="streetAddress">{{ settings.rue }}</span> - 
            <span itemprop="postalCode">{{ settings.code_postal }}</span>
            <span itemprop="addressLocality">{{ settings.ville }}</span>
        </a> - 
        <span itemprop="addressRegion">{{ settings.region }}</span> - 
        <data itemprop="addressCountry" value="FR">{{ settings.pays }}</data>
        <div class="contact-info" itemprop="contactPoint" itemscope itemtype="https://schema.org/ContactPoint">
            <a href="mailto:{{ settings.email }}"class="email"  itemprop="email" aria-label="{{ i18n_aria.aria.send_email[page.lang] }} {{ settings.email }}">
                {{ settings.email }}
            </a>
            <a href="tel:{{ settings.tel }}" itemprop="telephone" class="phone" aria-label="{{ i18n_aria.aria.call_phone[page.lang] }} +{{ settings.tel }}">
                +{{ settings.tel }}
            </a>
        </div>
    </address>
</footer>
