---
layout: _layouts/default.njk
eleventyComputed:
    title: '{{ product.name[page.lang] | safe }}'
---

{% set js %}
    {% include "../../_assets/js/add-to-cart.js" %}
    {% include "../../../node_modules/@splidejs/splide/dist/js/splide.js" %}
    {% include "../../_assets/js/carousel.js" %}
{% endset %}

<script>
    {{ js | safe }}
</script>

{% set css %}
    {% include "../../_assets/css/item-card.css" %}
    {% include "../../_assets/css/tags-list.css" %}
    {% include "../../_assets/css/button-add.css" %}
    {% include "../../_assets/css/price-stock.css" %}

    {% include "../../../node_modules/@splidejs/splide/dist/css/splide-core.min.css" %}
    {% include "../../_assets/css/splide-perso.css" %}
{% endset %}

<style>
	{{ css | cssmin | safe }}
</style>

{% set tag = { 'label': product.tags[0] } %}
<section aria-labelledby="card-title">
    <header>
        {% include 'tags_list.njk' %}
    </header>
    <article class="card-details product-infos item-infos" data-id="{{ product.id }}">
        {% set photos = product.photos %}
        {%- include 'carousel.njk' -%}
        <div class="card-info">
            <header>
                <h1 id="content-title" class="card-title">{{ product.name[page.lang] }}</h1>
                <h2 class="card-title">{{ product.mini_descr[page.lang] }}</h2>
            </header>
            <section class="card-description">
                <p>{{ product.description[page.lang] | safe }}</p>
                <dl>
                    {% for key, value in product.options[page.lang] %}
                    <dt>
                        {{ key }}{% if page.lang == 'fr'%}&nbsp;{% endif
                        %}:&nbsp;
                    </dt>
                    <dd>{{ value }}</dd>
                    {% endfor %}
                </dl>
            </section>
            <footer class="card-footer">
                {% set price = product.price %}
                {% set stock = product.stock %}
                {% include 'price_stock.njk' %}
                {% include 'button_add.njk' %}
            </footer>
        </div>
    </article>
</section>
