---
permalink: /products.json
eleventyExcludeFromCollections: true
---
[ 
{% for product in collections['products'] %}
{
    "id": "{{ product.id  }}",
    "title": {{ product.name | dump | safe }},
    "descr": {{ product.mini_descr | dump | safe }},
    "price": "{{ product.price }}",
    "permalinks": {{ product.permalinks | dump | safe }},
    "image": "{{ product.photos[0] }}",
    "stock": "{{ product.stock }}",
    "weight": "{{ product.weight }}",
    "shipping_type": "{{ product.shipping_type }}",
    "shipping_point": "{{ product.shipping_point }}"
  }{%- if not loop.last -%},{%- endif %}
  
{% endfor -%}
]